:root {
    /* --pd-color-secundario: #04BF45;
    --pd-color-primario: rgb(4, 167, 61); */
    --pd-color-secundario: #3498db;
    --pd-color-primario: #2980b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENÚ LATERAL */

.menu-lateral {
    background-color: var(--pd-color-secundario);
    display: flex;
    flex-direction: column;
    width: 120px;
}

.menu-lateral-item {
    list-style: none;
    border-bottom: solid 1px var(--pd-color-primario);
    max-height: 110px;
    overflow: hidden;
}

.item-activo {
    border-left: solid 3px #f1c40f;
}

.menu-lateral-item-link {
    color: #FFF;
    text-decoration: none;
    padding: 25px 10px;
    display: block;
    text-align: center;
}

.menu-lateral-item-link:hover {
    background-color: var(--pd-color-primario);
}

.menu-lateral-item-link:hover {
    color: #FFF;
}

.menu-lateral-item-link i {
    font-size: 32px;
}

.layout-sidebar-large .sidebar-left.open {
    left: 0;
    background-color: var(--pd-color-secundario);
}


/* LOGIN */

.hs_logo-innova-container {
    text-align: center;
    max-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

#hs_logo-innova {
    height: 120px;
}

.hs_container {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #ecf0f1;
    background-image: url(../../images/Piso.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30px;
}

.hs_board {
    border: solid 15px#2f3130;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    max-height: 480px;
    overflow: hidden;
}

.hs_wallpaper {
    background-position: center;
    background-size: cover;
}

.hs_login {
    padding: 30px 25px;
    background-color: #FFF;
}

.hs_logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.hs_logo-homeschool {
    height: 80px;
}

.hs_login-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .hs_container {
        padding-top: 20px;
        display: block;
    }

    .hs_logo-innova-container {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
    }

    #hs_logo-innova {
        height: 50px;
    }

    .hs_login-footer {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .hs_olvide-contraseña {
        margin-top: 8px;
    }

}

@media screen and (max-width: 425px) {
    .hs_wallpaper {
        display: none !important;
    }
}

/**********************************************/

.tools,
.tools-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 250px;
    z-index: 100;
    display: none;
}

.tools-icon {
    background-color: var(--pd-color-secundario);
    color: #FFF;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.tools-icon:hover {
    background: var(--pd-color-primario);
}

.tools-container {
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.tools-header {
    background: var(--pd-color-secundario);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 15px;
}

.tools-nav-min {
    font-size: 25px;
    color: #FFF;
    font-weight: bolder;
    margin-bottom: 0;
}

.tools-nav-min:hover {
    color: #FFF;
}

.tools-nav {
    background-color: lightgrey;
    text-align: center;
}

.textBuscar {
    border: solid 1px lightgray;
    width: 100%;
    padding: 5px 12px;
    font-size: 10px;
    height: 30px;
}

.tools-list {
    background: #FFF;
    height: calc(100% - 100px);
    padding: 10px;
    border: solid 1px lightgrey;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 5px;
    border: green 1px solid;
    overflow-y: scroll;
}

.tools-item {
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tools-img {
    border: solid 1px orange;
    height: 32px;
    width: 32px;
    margin: auto;
}

.tools-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.tools-footer {
    background: lightgrey;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}

.tools-nav-link {

    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 0;
}
