:root {
    --s-color-secundario: #4563BF;
    --s-color-primario: rgb(56, 86, 177);
}

/* [0] GENERAL ---------------*/

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--s-color-secundario) !important;
    border-color: var(--s-color-secundario) !important;
}

.hs_lower {
    text-transform: lowercase;
}

.hs_upper {
    text-transform: uppercase;
}

.hs_capitalize {
    text-transform: capitalize;
}

.hs_capitalize-first::first-letter {
    text-transform: uppercase;
}

a {
    color: black;
}

.btn-primary {
    background-color: var(--s-color-secundario);
    border: 1px solid var(--s-color-secundario);
}

.btn-primary:active,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--s-color-secundario) !important;
    box-shadow: none !important;
    border: none !important;
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary:focus {
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: var(--s-color-primario);
    box-shadow: none;
    border-color: var(--s-color-primario);
}

.form-control:focus {
    border-color: var(--s-color-secundario);
    box-shadow: none;
}

.text-primary {
    color: var(--s-color-secundario) !important;
}

.nav-link .active {
    background-color: var(--s-color-secundario);
}

/* SCROLL */

.contenedor-scroll-grupo {
    margin-top: 15px;
    max-height: 280px;
    overflow: auto;
}

.contenedor-scroll-grupo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-button:increment,
.contenedor-scroll-grupo::-webkit-scrollbar-button {
    display: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor-scroll-grupo::-webkit-scrollbar-track {
    border-radius: 10px;
}

.hs_titulo {
    color: var(--s-color-secundario);
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.hs_contenedor {
    display: flex;
    justify-content: center;
}

.hs_encabezado-titulo {
    color: var(--s-color-secundario);
}

.hs_encabezado-linea {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--s-color-secundario);
}

/* Contenido de una lista */

.hs_item-lista {
    padding: 10px;
}

.tarea-pendiente-alumno:hover {
    background-color: #f7f7f7;
    cursor: default;
}

/* [1] COLEGIO ---------------*/

.hs_upload {
    height: 80px;
    border-style: dashed;
    text-align: center;
}

/* [3] GRADOS Y SECCIONES ---------------*/

.botonera-superior-derecha {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.hs_tabla {
    border-radius: 8px !important;
    overflow: hidden !important;
}

.hs_tabla th {
    text-align: center;
    background-color: var(--s-color-secundario);
    color: #FFF;
    cursor: s-resize;
    font-weight: 400;
}

.hs_tabla td {
    padding: 8px !important;
}

.hs_tabla th:last-child,
.hs_tabla td:last-child {
    width: 90px !important;
    text-align: center !important;
}

.hs_tabla th:last-child {
    cursor: default;
}

#tbl_asignaturas th:nth-child(1),
#tbl_asignaturas td:nth-child(1),
#tbl_asignaturas th:nth-child(3),
#tbl_asignaturas td:nth-child(3),
#tbl_asignaturas th:nth-child(4),
#tbl_asignaturas td:nth-child(4) {
    display: none;
}

#tbl_asignaturas td:nth-child(2) {
    text-transform: capitalize;
}

#tbl_asignaturas td:nth-child(5) {
    text-align: center;
}

#tbl_asignaturas td {
    padding: 5px 12px !important;
}

#tbl_asignaturas th {
    padding: 10px 30px 10px 12px !important;
}

#tbl_inicial th:nth-child(1),
#tbl_inicial th:nth-child(2),
#tbl_inicial th:nth-child(3),
#tbl_inicial td:nth-child(1),
#tbl_inicial td:nth-child(2),
#tbl_inicial td:nth-child(3),
#tbl_primaria th:nth-child(1),
#tbl_primaria th:nth-child(2),
#tbl_primaria th:nth-child(3),
#tbl_primaria td:nth-child(1),
#tbl_primaria td:nth-child(2),
#tbl_primaria td:nth-child(3),
#tbl_secundaria th:nth-child(1),
#tbl_secundaria th:nth-child(2),
#tbl_secundaria th:nth-child(3),
#tbl_secundaria td:nth-child(1),
#tbl_secundaria td:nth-child(2),
#tbl_secundaria td:nth-child(3) {
    display: none;
}

#tbl_asignaturas th {
    background-color: #88989c;
}

#tbl_inicial td:nth-child(6),
#tbl_primaria td:nth-child(6),
#tbl_secundaria td:nth-child(6) {
    text-transform: uppercase;
    text-align: center;
}

#tbl_inicial td:nth-child(4),
#tbl_primaria td:nth-child(4),
#tbl_secundaria td:nth-child(4) {
    text-transform: capitalize;
}

#tbl_inicial td:nth-child(5)::first-letter,
#tbl_primaria td:nth-child(5)::first-letter,
#tbl_secundaria td:nth-child(5)::first-letter {
    color: transparent;
}

/* [4] CATEGORIAS --------------*/

#btn_plus {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#btn_plus:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#hs_separator {
    background-image: url('../../images/mark.png');
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 12px 45px 12px 15px;
    border-radius: 8px 0 0 8px;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    margin-left: -35px;
    margin-top: -5px;
}

#hs_separator:hover {
    cursor: pointer;
    margin-left: -33px;
    transition: all 0.2s ease-in-out;
}

.hs_box_close {
    text-align: right;
}

#hs_btn_close {
    color: #7a7a7a;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 10px;
    cursor: pointer;
}

#hs_btn_close:hover {
    color: #313131;
}

.hs_mask {
    width: 100%;
    height: 33px;
    background-color: red;
    opacity: 0;
    position: absolute;
    margin-top: -33px;
    cursor: pointer;
}

.hs_paleta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hs_muestra {
    font-size: 5px;
    width: 40px;
    height: 40px;
    margin: 5px;
    color: transparent;
}

.hs_muestra:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


/* [5] DOCENTES ---------------*/

.hs_dos-botones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hs_barra-filtrado {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.hs_barra-filtrado strong,
.hs_barra-filtrado select {
    min-width: 80px;
    margin-right: 5px;
}

/* [7] VIDEOCONFERENCIA ---------------*/

.pasos {
    display: flex;
    flex-wrap: wrap;
}

.pasos .pasos-numero-paso {
    margin-right: 10px;
}

.pasos .pasos-indicacion {
    margin-bottom: 0;
}

.pasos-accion {
    margin-bottom: 15px;
}

.GRUPO-SELECCIONADO {
    display: flex;
}

.seleccionados {
    padding: 5px 5px 5px 15px;
    border: none;
    cursor: pointer;
}

#mostrar-contador-label {
    margin-bottom: 10px;
}
