:root {
    /*--a-color-secundario: #07B0F2;
    --a-color-primario: rgb(7, 160, 221);*/
    --a-color-secundario: #3498db;
    --a-color-primario: #2980b9;
    --color-tmp-grey: #f1f2f6;
    --grey: #f9f9f9;
}

/* [0] GENERAL ---------------*/

.hs_lower {
    text-transform: lowercase;
}

.hs_upper {
    text-transform: uppercase;
}

.hs_capitalize {
    text-transform: capitalize;
}

.hs_justify {
    text-align: justify;
}

.hs_capitalize-first::first-letter {
    text-transform: uppercase;
}

a {
    color: black;
}

.btn-primary {
    background-color: var(--a-color-secundario);
    border: none;
}

.btn-primary:active,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--a-color-secundario) !important;
    box-shadow: none !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: var(--a-color-primario);
    box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary:focus {
    box-shadow: none;
}

.form-control:focus {
    border-color: var(--a-color-secundario);
    box-shadow: none;
}

.text-primary {
    color: var(--a-color-secundario) !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--a-color-primario);
    border-color: var(--a-color-primario);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: var(--a-color-secundario);
    border-color: var(--a-color-secundario);
}


.nav-tabs .nav-item .nav-link.active {
    color: #FFF;
    background: var(--a-color-secundario);
    border: 1px solid;
    border-color: var(--a-color-secundario) var(--a-color-secundario) #fff;
}

.nav-tabs {
    border-bottom: 1px solid var(--a-color-primario);
}

/* SCROLL */

.contenedor-scroll-grupo {
    margin-top: 15px;
    max-height: 280px;
    overflow: auto;
}

.contenedor-scroll-grupo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-button:increment,
.contenedor-scroll-grupo::-webkit-scrollbar-button {
    display: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor-scroll-grupo::-webkit-scrollbar-track {
    border-radius: 10px;
}

.hs_titulo {
    color: var(--a-color-secundario);
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.hs_contenedor {
    display: flex;
    justify-content: center;
}

.hs_encabezado-titulo {
    color: var(--a-color-secundario);
}

.hs_encabezado-linea {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--a-color-secundario);
}

/* Contenido de una lista */

.hs_item-lista {
    padding: 10px;
}

.tarea-pendiente-alumno:hover {
    background-color: #f7f7f7;
    cursor: default;
}

/* [1] COLEGIO ---------------*/

.hs_upload {
    height: 80px;
    border-style: dashed;
    text-align: center;
}

/* [3] GRADOS Y SECCIONES ---------------*/

.botonera-superior-derecha {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.hs_tabla {
    border-radius: 8px !important;
    overflow: hidden !important;
}

.hs_tabla th {
    text-align: center;
    background-color: var(--a-color-secundario);
    color: #FFF;
    cursor: s-resize;
    font-weight: 400;
}

.hs_tabla td {
    padding: 8px !important;
}

.hs_tabla th:last-child,
.hs_tabla td:last-child {
    width: 90px !important;
}

.hs_tabla th:last-child {
    cursor: default;
}

/* [5] DOCENTES ---------------*/

.hs_dos-botones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.hs_barra-filtrado {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.hs_barra-filtrado strong,
.hs_barra-filtrado select {
    min-width: 80px;
    margin-right: 5px;
}

/* [7] VIDEOCONFERENCIA ---------------*/

.pasos {
    display: flex;
    flex-wrap: wrap;
}

.pasos .pasos-numero-paso {
    margin-right: 10px;
}

.pasos .pasos-indicacion {
    margin-bottom: 0;
}

.pasos-accion {
    margin-bottom: 15px;
}

.GRUPO-SELECCIONADO {
    display: flex;
}

.seleccionados {
    padding: 5px 5px 5px 15px;
    border: none;
    cursor: pointer;
}

#mostrar-contador-label {
    margin-bottom: 10px;
}

/*************************** TABLERO DE CURSOS ***************************/

.cursos-header {
    background: var(--color-tmp-grey);
    color: grey;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 8px;
}

.cursos-header p {
    margin-bottom: 0;
}


#mis_cursos {
    display: grid;
    grid-template-columns: auto 250px;
    grid-gap: 15px;
    grid-template-areas: "t n";
}

#cursos_tablero {
    grid-area: t;
}

#cursos_notificaciones {
    grid-area: n;
}

.cn-header {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    border-bottom: solid 1px lightgrey;
}

.cn-card {
    border: solid 1px var(--color-tmp-grey);
    background: var(--grey);
    border-radius: 10px;
    padding: 10px;
    font-size: 11px;
}

.cn-card:hover {
    border: solid 1px lightgrey;
}

.cn-card-title {
    text-transform: lowercase;
    margin-bottom: 0;
}

.cn-card-title::first-letter {
    text-transform: capitalize;
}

.cn-card-title,
.cn-card-content {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 0;
    cursor: default;
}

.cn-card-link {
    color: var(--a-color-secundario);
    display: block;
    text-align: right;
}

.cn-card-link:hover {
    color: var(--a-color-primario);
}

#ntf-content {
    text-align: justify;
}

.his-com-c,
.his-anc-c {
    display: none;
}

.contenido-acordion {
    margin-bottom: 5px;
    padding: 10px;
    border: solid 1px var(--color-tmp-grey);
    background: var(--grey);
    border-radius: 8px;
}

.seleccionado {
    font-weight: bolder;
}

.his-com-t,
.his-anc-t {
    display: block;
    width: 100%;
}

.his-com-t:hover,
.his-anc-t:hover {
    color: var(--a-color-secundario);
}

/*************************** TABLERO DE CURSOS ***************************/

.cursos-tablero {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 15px;
}

.curso-card {
    background: var(--color-tmp-grey);
    border-radius: 10px;
    overflow: hidden;
}

.curso-card-header,
.curso-card-footer {
    padding: 15px 20px;
}

.curso-card-header {
    background-color: var(--a-color-secundario);
    height: 140px;
}

.curso-card-titulo {
    color: #FFF;
}

.curso-card-footer {
    background: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curso-notify {
    font-size: 22px;
    margin-right: 8px;
    display: none;
    /*VOLVER A ACTIVAR PARA LOS CONTADORES*/
}

.card-notify-count {
    background: #e74c3c;
    color: #FFF;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}

/*************************** CONTENIDO DE CURSO ***************************/

/* @Overwrite */
.main-content-wrap {
    padding: 15px !important;
}

/* Container */
.curso-main {
    display: grid;
    grid-template-columns: auto auto 180px;
    grid-gap: 10px;
    grid-template-areas: "h h a"
        "c c a";
}

.curso-main ul {
    list-style: none;
}

.curso-header,
.curso-content {
    padding: 20px;
}

/* Header */
.curso-header {
    background: var(--a-color-secundario);
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.curso-name {
    color: #FFF;
    margin-bottom: 0;
}

/* Content */
.curso-content {
    border: solid 1px lightgrey;
    grid-area: c;
    height: calc(100vh - 190px);
}

/* Aside */
.curso-aside {
    background: var(--color-tmp-grey);
    grid-area: a;
}

.options-title {
    background: var(--a-color-secundario);
    padding: 10px;
}

.options-name {
    color: #FFF;
    margin-bottom: 0;
    text-align: center;
}

.options {
    padding-top: 10px;
}

.option {
    display: block;
    padding: 5px 15px;
}

.curso-menu {
    display: none;
}

/*************************** load ***************************/

.content-header {
    border-bottom: solid 2px lightgrey;
    margin-bottom: 15px;
}

.content-title {
    color: grey;
}

.content-main {
    overflow: hidden;
}

/* Scroll*/
.my-scroll {
    max-height: calc(100vh - 270px);
    overflow: auto;
    padding-right: 5px;
}

.my-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.my-scroll::-webkit-scrollbar:vertical {
    width: 7px;
}

.my-scroll::-webkit-scrollbar:horizontal {
    height: 7px;
}

.my-scroll::-webkit-scrollbar-button:increment,
.my-scroll::-webkit-scrollbar-button {
    display: none;
}

.my-scroll::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
}

.my-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--color-tmp-grey);
}

/*************************** MÓDULOS ***************************/

.box-file {
    padding: 5px 0 5px 5px;
    border-bottom: solid 1px lightgrey;
    cursor: default;
}

.box-file:hover {
    background-color: var(--color-tmp-grey);
}

.box-file-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.box-file-header-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-file-link {
    color: var(--a-color-secundario);
    margin-left: 27px;
}

.box-file-link:hover {
    color: var(--a-color-primario);
}

/*************************** TAREAS ***************************/

/* @Overwrite */

.card {
    overflow: hidden;
}

.card-header,
.card-body {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.card-footer {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: #FFF !important;
}

/* Tarea */
.box-card {
    max-width: 600px;
    margin: 0 auto 15px auto;
}

.box-card p {
    margin-bottom: 0;
}

.box-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-ver {
    text-align: right;
    margin-top: 5px;
}

.box-link {
    color: var(--a-color-secundario);
}

.box-link:hover {
    color: var(--a-color-primario);
}

.box-fechas {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-puntuacion,
.box-fecha-envio,
.box-fecha-cierre {
    display: flex;
    flex-wrap: wrap;
}


/*************************** ANUNCIOS ***************************/

.box-descripcion-wrap {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    cursor: default;
}

/*************************** CALIFICACIONES ***************************/

#tbl-calificaciones,
#tbl-anuncios {
    text-align: center;
    width: 100%;
}

#tbl-calificaciones th,
#tbl-calificaciones td,
#tbl-anuncios th,
#tbl-anuncio td {
    border: solid 1px #FFF;
}

#tbl-calificaciones thead,
#tbl-anuncios thead {
    background: var(--color-tmp-grey);
}

#tbl-calificaciones th,
#tbl-anuncios th {
    padding: 10px;
}

#tbl-anuncios td {
    padding: 5px 10px;
}

#tbl-calificaciones td:nth-child(2) {
    text-align: left;
}

#tbl-calificaciones td {
    padding: 5px;
}

.tbl-tarea-see:hover {
    color: var(--a-color-primario);
}

.anc-title,
.anc-content {
    display: none;
}

/*************************** DOCENTE ***************************/

.docente-card {
    max-width: 270px;
    margin-top: 15px;
}

.docente-card-body {
    padding: 40px 25px !important;
}

.docente-photo {
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.docente-name {
    margin: 20px 0 20px 0;
}

/*************************** ALUMNOS ***************************/

.box-group {
    max-width: 600px;
    margin: 0 auto 5px auto;
    border: solid 1px var(--color-tmp-grey);
    border-left: solid 3px var(--color-tmp-grey);
    display: grid;
    grid-template-columns: 30px 40px auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px 20px;
}

.box-group:hover {
    border-color: lightgrey;
}

.box-group p,
.box-group strong,
.box-group h5 {
    margin-bottom: 0;
}

.alumno-photo {
    width: 40px;
    height: 40px;
}

.alumno-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;
}

/*************************** ************** ***************************/

@media screen and (max-width: 768px) {

    /* Tablero de cursos */
    .curso-card-header {
        height: 120px;
    }
}

@media screen and (max-width: 570px) {

    #btn-nuevo-modulo,
    #btn-nuevo-anuncio {
        margin-top: 0 !important;
        padding: 5px !important;
        font-size: 12px;
    }

    /* Tablero de cursos */
    .curso-card-header {
        height: 100px;
    }

    /* Contenido del curso */
    .curso-main {
        grid-template-columns: auto;
        grid-gap: 5px;
        grid-template-areas: "h h"
            "c c";
    }

    .curso-header {
        height: 50px;
    }

    .curso-name {
        font-size: 17px;
    }

    .curso-content {
        padding: 10px;
        height: calc(100vh - 195px);
    }

    .curso-aside {
        display: none;
    }

    .curso-menu {
        background: var(--a-color-secundario);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        padding: 20px;
        display: flex;
        align-items: center;
        margin: 5px 10px;
        border-radius: 12px;
        z-index: 100;
    }

    .items {
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        margin-bottom: 0;
    }

    .items i {
        font-size: 25px;
        color: #FFF;
    }

    .items span {
        display: none;
    }

    .dots {
        margin-top: -5px;
    }

    .item-more-hide {
        display: none;
    }

    .show-item-more {
        display: block;
        position: fixed;
        bottom: 65px;
        background-color: var(--a-color-secundario);
        padding: 10px;
        border-radius: 8px;
        list-style: none;
    }

    .content-header {
        margin-bottom: 5px;
    }

    .content-title {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    /* Scroll vertical de contenido */
    .my-scroll {
        max-height: calc(100vh - 250px);
    }

    /* Scroll horizontal de calificaciones */
    .tbl-container {
        max-width: calc(100vw - 42px);
        padding-bottom: 5px;
    }

    #tbl-calificaciones th,
    #tbl-anuncios th {
        font-size: 11px;
        padding: 5px;
    }

    #tbl-calificaciones td,
    #tbl-anuncios td {
        font-size: 11px;
    }

    /* Docente */
    .docente-photo {
        height: 60px;
    }

    .docente-name {
        margin: 10px 0 10px 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    #mis_cursos {
        display: grid;
        padding: 10px 15px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        grid-gap: 10px;
        grid-template-areas: "n"
            "t";
    }
}


















/******************************************************/

.swal2-container .swal2-styled:not(.swal2-cancel) {
    background: #3498db !important;
    border-color: #3498db !important;
    outline: none !important;
    border: none !important;
}
