:root {
    --ps-color-secundario: #4563BF;
    --ps-color-primario: #4557BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENÚ LATERAL */

.menu-lateral {
    background-color: var(--ps-color-secundario);
    display: flex;
    flex-direction: column;
    width: 100px;
}

.menu-lateral-item {
    list-style: none;
    border-bottom: solid 1px var(--ps-color-primario);
    max-height: 100px;
    overflow: hidden;
}

.item-activo {
    border-left: solid 3px #f1c40f;
}

.menu-lateral-item-link {
    color: #FFF;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    text-align: center;
}

.menu-lateral-item-link:hover {
    background-color: var(--ps-color-primario);
}

.menu-lateral-item-link:hover {
    color: #FFF;
}

.menu-lateral-item-link i {
    font-size: 25px;
}

.layout-sidebar-large .sidebar-left.open {
    left: 0;
    background-color: var(--ps-color-secundario);
}

/**********************************************/
