:root {
    /* --d-color-secundario: #04BF45;
    --d-color-primario: rgb(4, 167, 61); */
    --d-color-secundario: #3498db;
    --d-color-primario: #2980b9;
}

.hs_lower {
    text-transform: lowercase;
}

.hs_upper {
    text-transform: uppercase;
}

.hs_capitalize {
    text-transform: capitalize;
}

.hs_capitalize-first::first-letter {
    text-transform: uppercase;
}

a {
    color: black;
}

.btn-primary {
    background-color: var(--d-color-secundario);
    border: none;
}

.btn-primary:active,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--d-color-secundario) !important;
    box-shadow: none !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: var(d-color-primario);
    box-shadow: none;
}

.form-control:focus {
    border-color: var(--d-color-secundario);
    box-shadow: none;
}

.text-primary {
    color: var(--d-color-secundario) !important;
}

/* DOCENTES */

.lista-docentes {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.foto-perfil {
    width: 35px;
    height: 35px;
    opacity: .7;
    margin-right: 15px;
    overflow: hidden;
}

.datos-docente {
    text-align: center;
    padding: 25px;
}

.datos-docente .foto-perfil-lg {
    margin: 20px auto;
    height: 100px;
    opacity: .8;
}

.datos-docente h5 {
    margin-top: 10px;
}

/* ASIGNACIÓN DE TAREAS */

/* Estilo propio */

.titulo {
    color: var(--d-color-secundario);
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

/* tareas */

.tareas-encabezado h4 {
    color: var(--d-color-secundario);
}

.tareas-linea {
    min-width: 270px;
    width: 100%;
    max-width: 600px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--d-color-secundario);
}

#tareas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarea {
    min-width: 270px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    border: solid 1px #ecf0f1;
    /*border-left: solid 5px var(--d-color-secundario);*/
}

.tarea:hover {
    background-color: #f5f6fa;
    border-left: solid 5px var(d-color-primario);
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.tarea-titulo {
    margin-top: 5px;
}

.tarea-fechas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: .5;
}

.tarea-fecha strong {
    margin-left: 5px;
}

.tarea-fechas p {
    margin-bottom: 0;
}

.tarea-fecha-publicacion,
.tarea-fecha-entrega {
    display: flex;
    flex-wrap: wrap;
}

/* Modal Tarea nueva */

#txtArchivo {
    height: 80px;
    border-style: dashed;
    text-align: center;
}

#txtArchivo:hover,
#txtArchivo:active,
#txtArchivo:visited,
#txtArchivo:focus,
#txtArchivo:link {
    box-shadow: none;
}

#modal-tarea-nueva .radio-alumnos {
    text-align: right;
}

#modal-tarea-nueva .radio-alumnos label {
    margin-bottom: 0;
}

/* Modal modal-seleccion-alumnos */
#modal-seleccion-alumnos {
    max-width: 250px;
    margin: auto;
}

#modal-seleccion-alumnos .alumnos-scroll {
    height: 220px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#modal-seleccion-alumnos .check-alumnos {
    margin-bottom: 3px;
}

/* Modal comentarios y respuestas*/
#modal-comentarios-respuestas .caja-respuesta {
    background-color: #f5f6fa;

    padding: 10px 15px 0 15px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    font-style: italic;
}

#modal-comentarios-respuestas .caja-comentarios {
    background-color: #f5f6fa;
    height: 150px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 10px 15px 0 15px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    font-style: italic;
}

#modal-comentarios-respuestas .caja-comentarios img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* MIS ALUMNOS */

.mis-alumnos-contenedor {
    margin: auto;
}

/* Acordiones */

#accordion-alumnos .agrupacion {
    margin-bottom: 20px;
}

.accordion-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: solid 1px lightgrey;
    border-left: solid 4px var(--d-color-secundario);
}

.accordion-titulo-left {
    display: flex;
}

.accordion-titulo-right {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.accordion-titulo-right:hover {
    background-color: var(--d-color-secundario);
    color: #FFF;
}

.accordion-titulo p {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

/* Sobreescribiendo */
#accordion-alumnos .card-body {
    padding: 0;
}

#accordion-alumnos .list-group-item {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

#accordion-alumnos .list-group-item:hover {
    background-color: rgb(238, 238, 238);
}

/* Modal alumno */

#modal-datos-alumno {
    text-align: center;
}

#modal-datos-alumno .modal-foto-alumno {
    height: 100px;
    margin-bottom: 20px;
}

#modal-datos-alumno h4 {
    margin-bottom: 0;
}

#modal-datos-alumno p {
    margin-bottom: 0;
}

/* ESTADO DE TAREAS */

.pestanas {
    border-bottom: solid 2px var(--d-color-secundario);
}

.pestanas .nav-link {
    margin-bottom: 5px;
}

/* PESATAÑAS: ACTIVO*/

.nav-link .active {
    background-color: var(--d-color-secundario);
}

.card-tarea {
    margin-bottom: 10px;
}

.card-tarea:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
}

.card-tarea:hover .card-body {
    background-color: #f7f7f7;
}

.tarea-pendiente-alumno {
    padding: 10px;
}

.tarea-pendiente-alumno:hover {
    background-color: #f7f7f7;
    cursor: default;
}

#panel-pendientes-detalle {
    display: none;
    margin-bottom: 20px;
}

.mostrar-panel {
    display: block;
    transition: all 0.3s ease-in-out;
}

.contenedor-estado-tareas {
    display: flex;
    justify-content: center;
}

.panel-estado-de-tareas {
    max-width: 700px;
    margin: auto;
}

.cerrar-panel {
    text-align: right;

}

.cerrar-panel span {
    padding: 5px;
    color: #000;
    font-size: 20px;
}

.cerrar-panel span:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.tarea-pendiente-respuesta {
    border: solid 1px lightgrey;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.tarea-pendiente-respuesta p {
    margin-bottom: 0;
}

#txtCalificacion {
    max-width: 100px;
}

.panel-botonera {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.panel-botonera button:last-child {
    margin-left: 10px;
}

/* PERSONALIZACIÓN DEL SCROLL */

.contenedor-scroll {
    margin-top: 15px;
    max-height: 400px;
    overflow: auto;
}

.contenedor-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor-scroll::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor-scroll::-webkit-scrollbar-button:increment,
.contenedor-scroll::-webkit-scrollbar-button {
    display: none;
}

.contenedor-scroll::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor-scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

.contenedor-scroll-grupo {
    margin-top: 15px;
    max-height: 280px;
    overflow: auto;
}

.contenedor-scroll-grupo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-button:increment,
.contenedor-scroll-grupo::-webkit-scrollbar-button {
    display: none;
}

.contenedor-scroll-grupo::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor-scroll-grupo::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor-scroll-grupo::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* FIN DE PERSONALIZACIÓN */


.enviados-titulo {
    margin-top: 10px;
}

.enviados-descripcion {
    margin-bottom: 10px;
}

.enviados-detalle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.enviados-detalle strong {
    margin-right: 5px;
}

/* VIDEOCLASES */

.pasos {
    display: flex;
    flex-wrap: wrap;
}

.pasos .pasos-numero-paso {
    margin-right: 10px;
}

.pasos .pasos-indicacion {
    margin-bottom: 0;
}

.pasos-accion {
    margin-bottom: 15px;
}

.GRUPO-SELECCIONADO {
    display: flex;
}

.seleccionados {
    padding: 5px 5px 5px 15px;
    border: none;
    cursor: pointer;
}

#mostrar-contador-label {
    margin-bottom: 10px;
}

/* [7] VIDEOCONFERENCIA v2---------------*/

.hs_message {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    cursor: default;
}

.hs_message p {
    margin-bottom: 0;
}

.apps {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: "jitsi hangouts meet";
    grid-gap: 20px;
    max-width: 950px;
    margin: 0 auto;
}

.hangouts {
    grid-area: "hangouts";
}

.jitsi {
    grid-area: "jitsi";
}

.meet {
    grid-area: "meet";
}

.hangouts,
.jitsi,
.meet {
    text-align: center;
}

.apps .card {
    height: 100%;
}

.apps .card-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.app-logo {
    height: 80px;
}

.logo-jitsi {
    border-radius: 12px;
}

.app-name {
    margin: 20px 0;
}

.btn-hangouts {
    background: #27ae60;
    color: #FFF;
}

.btn-jitsi {
    background: #3498db;
    color: #FFF;
}

.btn-meet {
    background: #16a085;
    color: #FFF;
}

.btn-hangouts,
.btn-jitsi,
.btn-meet {
    color: #FFF !important;
}

.hangouts:hover img,
.jitsi:hover img,
.meet:hover img {
    transform: scale(1.05);
    cursor: default;
}

.link-hangouts {
    color: #27ae60;
}

.link-jitsi {
    color: #3498db;
}

.link-meet {
    color: #16a085;
}

.link-hangouts:hover,
.link-jitsi:hover,
.link-meet:hover {
    color: #16a085;
}

@media screen and (max-width: 768px) {
    .hs_message {
        max-width: 640px;
        font-size: 10px;
    }

    .apps {
        display: grid;
        grid-column: 2fr;
        grid-row: 2fr;
        grid-template-areas: "jitsi hangouts"
            "jitsi meet";
        max-width: 640px;
    }
}

@media screen and (max-width: 550px) {
    .hs_message {
        max-width: 320px;
        font-size: 10px;
    }

    .apps {
        display: grid;
        grid-column: 1fr;
        grid-template-areas: "jitsi"
            "hangouts"
            "meet";
        max-width: 320px;
    }
}
