:root {
    /*--pa-color-secundario: #07B0F2;
    --pa-color-primario: rgb(7, 160, 221);*/
    --pa-color-secundario: #3498db;
    --pa-color-primario: #2980b9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENÚ LATERAL */

.menu-lateral {
    background-color: var(--pa-color-secundario);
    display: flex;
    flex-direction: column;
    width: 120px;
}

.menu-lateral-item {
    list-style: none;
    border-bottom: solid 1px var(--pa-color-primario);
    max-height: 110px;
    overflow: hidden;
}

.item-activo {
    border-left: solid 3px #f1c40f;
}

.menu-lateral-item-link {
    color: #FFF;
    text-decoration: none;
    padding: 25px 10px;
    display: block;
    text-align: center;
}

.menu-lateral-item-link:hover {
    background-color: var(--pa-color-primario);
}

.menu-lateral-item-link:hover {
    color: #FFF;
}

.menu-lateral-item-link i {
    font-size: 32px;
}

.layout-sidebar-large .sidebar-left.open {
    left: 0;
    background-color: var(--pa-color-secundario);
}
